<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
        
        
        <link href="css/bootstrap.min.css" rel="stylesheet">


        <script src="js/bootstrap.min.js" type="text/javascript"></script>
        <script src="jquery-3.2.0.min.js" type="text/javascript"></script>
        
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="css/taskman.css"/>
        <script src="js/angular.min.js"></script>
    </head>
    <body ng-app="myApp" ng-controller="myController">
        <div class="row">
            <div class="container">
                <div class="col-sm-9">
                    <div class="widget-box">
                        <div class="widget-header header-color-blue">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h4 class="bigger lighter">
                                        <i class="glyphicon glyphicon-align-justify"></i>&nbsp;
                                        TASK MANAGER
                                    </h4>
                                </div>

                                <div class="col-sm-6">
                                    <input type="text" ng-model="ft" class="form-control search header-elements-margin" placeholder="Filter Tasks">
                                </div>
                            </div>
                        </div>
                        <div class="widget-body ">
                            <form id="newTaskForm" class="add-task">
                                <div class="form-actions">
                                    <div class="input-group">
                                        <input type="text" class="form-control" ng-model="txtName" placeholder="Add New Task"  ng-focus="true">
                                            <div class="input-group-btn">
                                                <button class="btn btn-default" type="submit"  ng-click="ThemTask(txtName)"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add New Task</button>
                                            </div>
                                    </div>
                                </div>
                            </form>
                            <div class="task">
                                <label class="checkbox" ng-repeat="t in TASKS | filter : ft ">
                                    <input type="checkbox" value="0" /> 
                                    <span>{{t.task}}</span>
                                    
                                    <a class="pull-right" ng-click="XoaTask(t.id)" ><i class="glyphicon glyphicon-trash"></i></a>
                                    <a class="pull-right" ng-click="SuaTask(t.id,t.task)" data-toggle="modal" data-target="#Edit_task"><i class="glyphicon glyphicon-edit"></i></a>
                                </label>

                                
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        
        
        
        
        
        
        
        
            <!-- Modal -->
            <div  class="modal fade" id="Edit_task" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button> 
                                <h4 class="modal-title" id="myModalLabel">add Product</h4>
                            </div>
                            <div class="modal-body">
                                <table class="table table-bordered mausam" style="margin:0">

                                    <tr>
                                        
                                        <input ng-model="id_task" type="hidden"  />

                                    <th class="text-center">
                                        Name

                                        <input ng-model="name_task" type="text" class="form-control" placeholder="typename" />

                                    </th>
                                        
                                    </tr>
                                </table>  
                            </div>
                            <div class="modal-footer ">
                                <button type="button"   class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit"  ng-click="SuaTask2(id_task,name_task)" class="btn btn-primary"><span class="glyphicon glyphicon-off" /> Save changes</button>
                            </div>
                        </div>
                   
                </div>
            </div>

        
        
        
        
        
        
        
        
        
        
    </body>
    <script>
        var app = angular.module("myApp", []);
        app.controller("myController", function ($scope, $http) {

            //len trong nay
            GetAllTask();
            function GetAllTask() {
                $http.post("xltask/getTask.php").success(function (data) {
                    $scope.TASKS = data;
                });
            }
            ;

            $scope.ThemTask = function (name)
            {
                
                $http.get("xltask/addtask.php?task=" + name).success(function (data) {
                    $scope.txtName = "";
                    GetAllTask();
                    
                });
            };
            
            $scope.SuaTask=function (id,name)
            {
               $scope.id_task=id;
               $scope.name_task=name;
            };
            $scope.SuaTask2=function (id,name)
            {
                $http.get("xltask/edittask.php?id="+id+"&name="+name).success(function (data)
                {
                    GetAllTask();
                });
            };
            $scope.XoaTask=function (id)
            {
                if(confirm("xoa hay khong"))
                {
                    $http.get("xltask/delete.php?id="+id).success(function (data)
                    {
                        GetAllTask();
                    });
                }
            };

        });

    </script>
    
    
    
   
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
</html>
